<!-- address.component.html -->
<div class="address-form">
    <h2>Add Your Address</h2>
    <form (ngSubmit)="updateAddress()">
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name:</label>
        <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="fullName" required>
      </div>
      <div class="mb-3">
        <label for="addressLine1" class="form-label">Address Line 1:</label>
        <input type="text" class="form-control" id="addressLine1" name="addressLine1" [(ngModel)]="addressLine1" required>
      </div>
      <div class="mb-3">
        <label for="addressLine2" class="form-label">Address Line 2:</label>
        <input type="text" class="form-control" id="addressLine2" name="addressLine2" [(ngModel)]="addressLine2">
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City:</label>
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="city" required>
      </div>
      <div class="mb-3">
        <label for="state" class="form-label">State:</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="state" required>
      </div>
      <div class="mb-3">
        <label for="zipCode" class="form-label">Zip Code:</label>
        <input type="text" class="form-control" id="zipCode" name="zipCode" [(ngModel)]="zipCode" required>
      </div>
      <div class="mb-3">
        <label for="zipCode" class="form-label">Phone Number:</label>
        <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="phone" required>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country:</label>
        <input type="text" class="form-control" id="country" name="country" [(ngModel)]="country" required>
      </div>
      <button class="btn btn-primary" [routerLink]="['/order']">Checkout</button>
    </form>
  </div>
  
