@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
h4,h3,h5{
    font-family:Philosopher;
  
}
h3,h4{
    color:black;
    font-weight: 600;
    text-shadow: 1px 1px #aaa;
    
}
