@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
h2{
    font-family: Lobster Two;
    font-size: 50px ;
    text-shadow: 1px 1px #aaa;
    margin-bottom: 10px;
}
h4{
  font-family: Philosopher;
    color:#545657;
    font-weight: 550;
}

   
   p{
    font-family: Philosopher;
    color:#545657;
    font-size: 18px;
    font-weight: 550;
    line-height: 1.5;
   }
   .text-image img {
    width: 80%; 
    display: block;
    padding-block: 40px;
    
}
   .author-container {
    align-items: center;
   
   }
   
   .text-content {
    padding: 20px;
    margin-left: 5%;
    margin-top: 5%;
   }
   
   .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-top: 5%;
   }
      