<div class="container" style="margin-bottom: 4%;">
    <div class="container text-center mt-5  animate__animated animate__fadeInRight">
      <h2 class="mb-4">Ready for Your Next Book Escape?</h2>
      <p class="lead txt">
        Booktopia's Community Marketplace: Where Every Reader Turns Seller, Every Book Finds a New Tale to Tell
        
      </p>
      <p class="lead txt animate__animated  animate__fadeInBottomLeft ">
        Have a book to sell or swap? <a [routerLink]="['/userDash']" style="color:#956d63;" >Add your book here</a>.
    </p>
    </div>
    
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4  animate__animated delay-4s animate__rollIn" *ngFor="let book of books | async">
        <div class="card h-100" style="background-color: #f2e6e3;">
          <img [src]="book.photoUrl" class="card-img-top img-fluid" alt="{{ book.title }}" style="height: 300px; object-fit: contain; margin-top: 20px;">
          <div class="card-body d-flex flex-column">
           
            <h5 class="card-title ">{{ book.title }}</h5>
            <p class="card-text">By {{ book.author }}</p>
              <p class="card-text">{{ book.shortDescription }}</p>
              <p class="card-text">Offered by: {{ book.username }}</p>
              <div class="mt-auto text-center">
             <!-- Your buttons with heart and cart icons -->
  <!-- Your HTML code using Font Awesome icons -->
  <button [routerLink]="['/usersBook', book.id]" class="btn btn-outline-light mx-2" style="background-color:#956d63;"> View Details</button>
  
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>