<div class="row" style="margin-top: 5%; box-shadow: 2px 2px 2px 2px;">
    <div class="col-lg-8 sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active " [routerLink]="['/addBook']"><i class="fas fa-book-open"></i> Add Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fas fa-id-card"></i> Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  ><i class="fas fa-book"></i> Manage store Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/manageBooks']"><i class="fas fa-people-roof"></i> Manage Users Books </a>
          </li>
      </ul>
  
  </div>
</div>
