@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html , body{
  background-color: #f0e3e0
}
 .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
 box-shadow: 2px 2px 2px 2px;
 margin-bottom: 2%;

} 

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #956d63;
  
  
}

p {
  margin-bottom: 5px;
  font-weight: 500;
  color:#762e17;
}
.user-address, .user-orders, .payment-options, .credit-card-form, .thank-you-message {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  
}
/* User Address Section */
.user-address {

 font-weight: 500;
 font-family: 'Nunito';
 

}
  
  .user-orders img {
     width: 100px;
     height: 100px;
     object-fit: cover;
  }
/* User Orders Section */

.list-group-item {
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  
}

.order-details img {
  max-width: 100px;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

/* Payment Options */
.payment-options {
  margin-top: 20px;
}

.payment-options button {
  margin-right: 10px;
}

/* Credit Card Form */
.credit-card-form {
  margin-top: 20px;
}

.credit-card-form label {
  font-weight: bold;
}

.credit-card-form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.credit-card-form button {
  margin-top: 10px;
}

/* Thank You Message */
.thank-you-message {
  margin-top: 20px;
  text-align: center;
}

.thank-you-message button {
  margin-top: 10px;
}
