
 
 <div class="container mt-4">
  <div *ngIf="userAddress" class="user-address">
     <h2>User Address Details</h2>
     <p>Full Name: {{ userAddress?.fullName }}</p>
     <p>Address Line 1: {{ userAddress?.addressLine1 }}</p>
     <p>Address Line 2: {{ userAddress?.addressLine2 }}</p>
     <p>City: {{ userAddress?.city }}</p>
     <p>State: {{ userAddress?.state }}</p>
     <p>Zip Code: {{ userAddress?.zipCode }}</p>
     <p>Country: {{ userAddress?.country }}</p>
     <p>Phone: {{ userAddress?.phone }}</p>
  </div>
 
  <div *ngIf="userOrders.length > 0 && !allOrdersPaid()" class="user-orders">
     <h2>User Orders</h2>
     <ul class="list-group">
       <li *ngFor="let order of userOrders" class="list-group-item">
         <div class="order-details">
           <p>Title: {{ order.title }}</p>
           <p>Author: {{ order.author }}</p>
           <p>Quantity: {{ order.quantity }}</p>
           <p>Price: {{ order.price }}</p>
           <p>Status: {{ order.status }}</p>
           <p>Paid: {{ order.paid }}</p>
           <p>Total Price: {{ order.totalPrice }}</p>
           <img [src]="order.photo" class="img-fluid" alt="Product Photo">
         </div>
       </li>
     </ul>
  </div>
 
  <div *ngIf="!allOrdersPaid()" class="payment-options">
     <h5>Select Payment Method:</h5>
     <button class="btn" style="background-color:#99806f; color:white" (click)="payOnDelivery()">Pay on Delivery</button>
     <button class="btn " style="background-color:#99806f; color:white" (click)="opencreditcard()">Pay with Credit Card</button>
  </div>
 
  <div *ngIf="showCreditCardForm" class="credit-card-form">
     <h2>Credit Card Payment</h2>
     <form>
       <div class="mb-3">
         <label for="cardNumber" class="form-label">Card Number:</label>
         <input type="text" class="form-control" id="cardNumber" name="cardNumber">
       </div>
       <div class="mb-3">
         <label for="expiryDate" class="form-label">Expiry Date:</label>
         <input type="text" class="form-control" id="expiryDate" name="expiryDate">
       </div>
       <div class="mb-3">
         <label for="cvv" class="form-label">CVV:</label>
         <input type="text" class="form-control" id="cvv" name="cvv">
       </div>
       <button type="button" class="btn btn-success" (click)="payWithCreditCard()">Submit Payment</button>
     </form>
  </div>
 
  <div *ngIf="allOrdersPaid()" class="thank-you-message">
     <p>Thank you for buying from us!</p>
     <button class="btn animate__animated animate__shakeY" style="background-color:#99806f; color:white;" [routerLink]="['/track']">Track Your Orders</button>

  </div>
 </div>
 <app-footer></app-footer>