<nav class="navbar navbar-expand-lg "  style="background-color:#c0b6b3;">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">
        <img src="../assets/imges/test1.png" alt="Bootstrap" width="30" height="30">
        Booktopia
      </a>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">   
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/books']" >Books</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/usersBook']" >User Utopia Books</a>
          </li>
            
          
           
          
            
        </ul>
        

        
        
        <div *ngIf="!username">
          <!-- Display Login link if the user is not logged in -->
          <ul class="navbar-nav m-1">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/signIn']">Login</a>
            </li>
          </ul>
        </div>
        <div *ngIf="username">
          <!-- Display username if the user is logged in -->
          <ul class="navbar-nav m-1">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']">{{ username }}</a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav m-2">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/fav']" ><i class="fas fa-heart" style="color:#a84221"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']" ><i class="fas fa-shopping-cart" style="color:#a84221"></i>
            </a>
          </li>
        </ul>
       

        <!-- <form class="d-flex" role="search">
       
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
    
  </nav>