<div class="container">
    <div class="card text-center mt-5" style="margin-bottom: 50px;">
      <div class="card-header" style="background-color:#d8ccca;">
        <span class="float-lg-end font-monospace" (click)="logout()">
          <i class="fas fa-sign-out-alt" style="color: #c195a0;"></i> LogOut
        </span>
        
        <h2>Profile Page </h2>

      </div>
      <div class="card-body" style="background-color: #f2e6e3;">
        <div class="user-info"  *ngIf="userData">
          <img [src]="userData.photoUrl" alt="Profile Photo" class="rounded-circle mb-3 profile-photo">
          <h3>{{ userData.username }}</h3>
          <p>{{ userData.email }}</p>
          <p>Age: {{ userData.age }}</p>
          <p>Gender : {{ userData.gender }}</p>
          <p> Favorites: <i [routerLink]="['/fav']" class="fas fa-heart"></i></p>
          <button class="btn mb-3" style="background-color: #a6796e; color: whitesmoke;" (click)="toggleEdit()">Edit</button>
       
        </div>
        <form class="edit-form mt-3" *ngIf="isEditing"  (ngSubmit)="saveChanges()">
          <div class="form-group">
            <input class="form-control form-input" type="text" name="name" placeholder="Name" [(ngModel)]="userData.username">
          </div>
          <div class="form-group">
        
            <input class="form-control form-input" type="email" name="email" placeholder="Email" [(ngModel)]="newEmail" readonly>
          </div>
          
          <div class="form-group">
            <input class="form-control form-input" type="password" name="password" placeholder="New Password" [(ngModel)]="newPassword">
          </div>
          <div class="form-group">
            <input class="form-control form-input" type="number" name="age" placeholder="age" [(ngModel)]="newAge">
          </div>
          <div class="form-group">
            <label>Gender:</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="male" name="gender" value="male" [(ngModel)]="selectedGender" (change)="onGenderChange(newGender)">
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="female" name="gender" value="female" [(ngModel)]="selectedGender" (change)="onGenderChange(newGender)">
              <label class="form-check-label" for="female">Female</label>
            </div>
          </div>
          <div class="form-group">
            <input (change)="onFileSelected($event)" class="form-control-file form-input" type="file" name="profile-photo" accept="image/*">
          </div>
          <button type="submit" class="btn submit-btn" style="background-color: #a6796e; color: whitesmoke;">Save</button>
        </form>
      
      </div>
      <div class="card-footer text-muted" style="background-color:#d8ccca; padding-bottom: 30px;">
 
      </div>
    </div>
  </div>
  