<div class="user-dashboard" *ngFor="let userWithOrders of usersWithOrders">
  <div class="user-info">
    <h4>Users Details:</h4>
    <p class="user-info__item">User ID: {{ userWithOrders.user.id }}</p>
    <p class="user-info__item">Username: {{ userWithOrders.user.username }}</p>
    <p class="user-info__item">Email: {{ userWithOrders.user.email }}</p>
  </div>

  <div class="user-orders">
    <h4>User Orders:</h4>
    <div class="order-list">
      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Title</th>
            <th>Total Price</th>
            <th>Paid</th>
            <th>Payment Method</th>
            <th>Expected date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of userWithOrders.orders">
          <tr>
            <td>{{ order.id }}</td>
            <td *ngFor="let item of order.items">{{ item.id }}</td>
            <td *ngFor="let item of order.items">{{ item.title }}</td>
            <td>{{ order.totalPrice }}</td>
            <td>{{ order.paid }}</td>
            <td>{{ order.paymentMethod }}</td>
            <td>{{ order.date }}</td>
            <span class="status-indicator" [ngClass]="getStatusClass(order.status)">
              <td>{{ order.status }}</td>
            </span>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
