@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Nunito&display=swap');
h3{
    font-family: 'Fredericka the Great';
    color: black;
  
    
}
body{
  background-color:#f6f4f2 ;
}
.cart-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f4f2;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.item-preview {
  flex: 0 0 120px;
  margin-right: 20px;
}

.item-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.item-details {
  flex: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-btn {
  background: #87837f;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
  font-weight: bold;
}

.remove-btn {
  background: #434240;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.total-price {
  margin-top: 20px;
  text-align: right;
}

/* Font Awesome Icons */
.fas {
  font-family: 'Font Awesome 5 Free';
}

.empty-cart-message {
  text-align: center;
  padding: 20%;

 
}

.empty-cart-message h3 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.empty-cart-message button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #87837f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.empty-cart-message button:hover {
  background-color: #87837f;
}
/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .item-preview {
    margin-bottom: 10px;
  }
}
