
<!-- Display cart items -->
<body>
<div class="cart-item container" *ngFor="let item of cartItems; let i = index">
    <div class="item-preview">
      <img [src]="item.photoUrl" alt="Item Preview" class="item-img">
    </div>
    <div class="item-details">
      <h4>{{ item.title }}</h4>
      <p>Price: ${{ item.price }}</p>
    </div>
    <button class="remove-btn" (click)="removeFromCart(i)">Remove</button>
  </div>
  
  <!-- Display total price -->
  <div class="total-price">
    <p>Total Price: ${{ totalPrice }}</p>
  </div>
</body>
<app-footer></app-footer>