<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-6 d-none d-md-block">
                <img src="../../../assets/imges/reading.png" alt="Brand Logo" class="img-fluid" style="width: 50%; margin-left: 50px;">
            </div>
            <div class="col-md-6">
                <div class="card p-4 shadow" style="background-color:#f6eeec ; color: #956d63;">
                    <h2 class="text-center mb-4 animate__animated animate__backInLeft"> Welcome to Booktopia </h2>
                    <form (ngSubmit)="signIn()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                        </div>
                        <div class="mb-3 d-flex align-items-center justify-content-center">
                            <button type="submit" class="btn btn-primary me-3">Login</button>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>
                        </div>
                    </form>
                    <p class="text-center mt-3 custom-color">Or <a class="custom-link" (click)="goToSignUp()">Don't have an account? Register</a></p>
                    <p class="text-center mb-0"><a class="custom-link">Forgot password?</a></p>
                    <p class="text-danger text-center">{{ errorMessage }}</p>
                </div>
            </div>
        </div>
    </div>

 
</body>
</html>