@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

/* Apply the font-family to the paragraph */
.txt{
    font-family: 'Comic Neue';
    color:#5a5855;
    font-weight:800;
}


h5,h2{
    color: black;
    font-family:'Lobster Two' , serif;
    text-shadow: 4px 4px 4px #aaa;
}

p{
    font-family: 'Comic Neue';
    color:#5a5855;
    font-weight:700;
}

.hover-effect {
    
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }
  