.book-image {
    max-width: 100px; 
    height: auto;
  }
  body,html{
    margin: 0; 
    padding: 0;
    background-color: #f0e3e0;
    
  }
  .custom-list-item {
    box-shadow: 1px 1px 1px 1px #484443;
    background-color: #f2e6e3; 
    color: black;
    padding: 15px;
    margin-bottom: 10px; 
  }
  