.book-image {
    max-width: 100px; 
    height: auto;
  }
  body,html{
    margin: 0; 
    padding: 0;
    background-color: #f6f4f2;
    
  }
  .custom-list-item {
    box-shadow: 1px 1px 1px 1px #aaa;
    background-color: #f6f4f2; 
    color: black;
    padding: 15px;
    margin-bottom: 10px; 
  }
  