/* Add this CSS to your component's CSS file or the global styles */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.txt_title{

font-family: 'Lobster Two';
color: black;
text-shadow: 4px 4px 4px #aaa;
font-family: 'Lemonada';
}

.txt_desc{
    font-family: 'Philosopher';
    color:#545657;
    font-weight:700;

}
.txt_auth{
    font-family: 'Philosopher';
    font-weight: bolder;
    font-size:medium;
    color:#545657
}
.price{
    font-family: 'Comic Neue', cursive;
    color:#545657;
    font-weight:900;
    font-size:large;
}