<div style="padding-block:50px">
  <div class="container" style="margin-top: 5vh; margin-bottom: 4vh;">
    <div class="card mb-3 shadow-sm" style="background-color: #f9f8f6; padding: 20px;">
      <div class="row g-0">
        <div class="col-md-6 col-12">
          <!-- Apply styling to the image container -->
          <div style="padding: 50px;">
            <img src="{{ book?.photoUrl }}" class="img-fluid" alt="{{ book?.title }}"
              style="width: 100%; max-width: 300px; height: auto;">
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="card-body" style="padding: 20px;">
            <h2 class="card-title txt_title" [ngStyle]="{ 'font-family': getFontFamily(book?.title) }">{{ book?.title }}</h2>
            <p class="card-text txt_auth">By: {{ book?.author }}</p>
            <p class="card-text txt_desc">{{ book?.description }}</p>
            <p class="card-text price">Price: ${{ book?.price }}</p>
        
            <button (click)="addToCart()" class="btn btn-outline-dark" style="background-color: #5a5855; color:white;">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
